.kanban-column {
    flex: 1;
    max-width: 300px;
    min-width: 300px;
    margin: 0 auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.kanban-tasks {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-height: 100px;
    padding: 1rem;
}
